<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <description>Code style rules for my project</description>

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <file>src</file>
    <file>tests</file>

    <exclude-pattern>/vendor/*</exclude-pattern>
    <exclude-pattern>/bin/*</exclude-pattern>
    <exclude-pattern>/var/*</exclude-pattern>

    <rule ref="PSR12"/>

    <rule ref="PSR1"/>

    <rule ref="Generic.Metrics.CyclomaticComplexity">
        <properties>
            <property name="complexity" value="15"/>
            <property name="absoluteComplexity" value="20"/>
        </properties>
    </rule>
    
    <rule ref="Generic.Metrics.NestingLevel">
        <properties>
            <property name="absoluteNestingLevel" value="4"/>
            <property name="nestingLevel" value="3"/>
        </properties>
    </rule>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="150"/>
        </properties>
    </rule>

    <exclude-pattern>config/preload.php</exclude-pattern>
    <exclude-pattern>public/index.php</exclude-pattern>

</ruleset>